.sign-up-form {
  position: relative;

  form {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
    margin: 0;
  }

  &__description {
    font-family: "WorkSans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 20px 0;

    p {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      margin: 0 0 10px 0;
    }
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    line-height: 14px;
    color: #7c7c7c;
  }

  span {
    font-size: 12px;
    line-height: 14px;
    color: #7c7c7c;
  }

  input {
    background-color: transparent;
  }

  input::placeholder {
    color: $color-default-black;
  }

  input:not([type="radio"]) {
    width: 235px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 0 7px 0;
    cursor: pointer;
  }

  button {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 7px 26px;
    color: $color-default-white;
    background: $color-neon-blue;
    border: 0.5px solid $color-default-white;
    cursor: pointer;
  }

  select {
    position: relative;
    width: 235px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 10px 7px 0;
    margin: 0 0 0 0;
    cursor: pointer;
    text-align: start;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 0;
  }

  &__select-wrapper:not(:last-child) {
    margin-right: 10px;
  }

  &__select-wrapper {
    position: relative;

    &::before {
      content: "";
      width: 8px;
      height: 4px;
      position: absolute;
      top: 40%;
      right: 0;
      background-image: url("../../img/sprite/select-icon.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  &__background {
    position: absolute;
    bottom: -42px;
    right: -24px;
    z-index: 0;
  }

  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__field--column {
    flex-direction: column;
    align-items: flex-start;
  }

  &__field--row {
    display: flex;
    flex-direction: row;
    margin: 0 0 16px 0;
  }

  &__field--submit {
    margin: 82px 0 0 0;
  }

  &__wrapper {
    display: flex;
  }

  &__link {
    text-decoration: underline;
    color: $color-neon-blue;
    margin: 0 0 0 5px;
  }

  &__wrapper--gender {
    margin-bottom: 9px;
    display: flex;
    align-items: center;

    label {
      color: $color-default-black;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      padding: 0 0 0 6px;
      position: relative;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 12px;
      height: 12px;
      cursor: pointer;
    }

    input[type="radio"]:checked + span::after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: $color-neon-blue;
      border-radius: 50%;
      position: absolute;
      top: 27%;
      left: 26.5%;
    }

    label:not(:last-child) {
      margin-right: 19px;
    }
  }

  &__wrapper--column {
    flex-direction: column;
  }

  .sign-up-form__day {
    width: 56px;
  }

  .sign-up-form__month {
    width: 91px;
  }

  .sign-up-form__year {
    width: 68px;
  }

  .sign-up-form__wrapper--birth {
    select:not(:last-child) {
      margin: 0 0 0 -4px;
    }
  }

  .sign-up-form__field--birth {
    .sign-up-form__field:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }
}
