// registration form
.sign-up-form {
  position: relative;

  form {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-family: "WorkSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
    margin: 2px 0 0 0;

    @include vp-767 {
      margin: 0 0 10px 0;
    }
  }

  &__description {
    font-family: "WorkSans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    margin: 0 0 20px 0;

    p {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      margin: 0 0 10px 0;
    }
  }

  label {
    font-family: "WorkSans", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.4px;
    color: #7c7c7c;

    @include vp-767 {
      width: 100%;
    }
  }

  span {
    font-family: "WorkSans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.4px;
    color: #7c7c7c;
  }

  input {
    background-color: transparent;

    @include vp-767 {
      margin-bottom: 15px;
    }
  }

  input::placeholder {
    font-family: "WorkSans", "Arial", sans-serif;
    letter-spacing: -0.4px;
    color: $color-default-black;
    font-weight: 400;
  }

  input:not([type="radio"]) {
    width: 235px;
    border: none;
    border-bottom: 1px solid $color-default-gray;
    outline: none;
    padding: 5px 0 7px 0;
    cursor: pointer;

    @include vp-767 {
      width: 100%;
    }
  }

  button {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 7px 26px;
    color: $color-default-white;
    background: $color-neon-blue;
    border: 0.5px solid $color-default-white;
    cursor: pointer;
  }

  select {
    position: relative;
    width: 235px;
    border: none;
    border-bottom: 1px solid $color-default-gray;
    padding: 5px 10px 7px 0;
    margin: 0 0 0 0;
    cursor: pointer;
    text-align: start;
    background-color: transparent;
    appearance: none;
    z-index: 0;

    @include vp-767 {
      width: 100%;
    }
  }

  &__select-wrapper:not(:last-child) {
    margin-right: 10px;
  }

  &__select-wrapper {
    position: relative;

    @include vp-767 {
      width: 100%;
    }

    &::before {
      content: "";
      width: 8px;
      height: 4px;
      position: absolute;
      top: 40%;
      right: 0;
      background-image: url("../img/svg/select-icon.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }
  }

  &__background {
    position: absolute;
    bottom: -34px;
    right: -45px;
    z-index: 0;
  }

  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__field--column {
    flex-direction: column;
    align-items: flex-start;

    @include vp-767 {
      width: 100%;
    }
  }

  &__field--row {
    display: flex;
    flex-direction: row;
    margin: 0 0 16px 0;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__field--submit {
    margin: 94px 0 0 0;

    @include vp-767 {
      margin: 54px 0 0 0;
    }

    p {
      font-family: "WorkSans", "Arial", sans-serif;
      font-size: 13px;
      line-height: 15px;
      margin: 0 0 0 -2px;
    }
  }

  &__wrapper {
    display: flex;

    @include vp-767 {
      width: 100%;
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__link {
    font-family: "WorkSans", "Arial", sans-serif;
    text-decoration: underline;
    color: $color-neon-blue;
    margin: 0;
  }

  &__wrapper--gender {
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    @include vp-767 {
      margin-bottom: 0;
      margin-top: 7px;
    }

    label {
      color: $color-default-black;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      padding: 0;
      position: relative;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin: 0 6px 0 0;
    }

    input[type="radio"]:checked + label {
      span::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: $color-neon-blue;
        border-radius: 50%;
        position: absolute;
        top: 27%;
        left: 26%;

        @include vp-767 {
          top: 27.5%;
          left: 29%;
        }
      }
    }

    label:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__wrapper--column {
    flex-direction: column;
  }

  .sign-up-form__day {
    width: 56px;

    @include vp-767 {
      width: 100%;
    }
  }

  .sign-up-form__month {
    width: 91px;

    @include vp-767 {
      width: 100%;
    }
  }

  .sign-up-form__year {
    width: 68px;

    @include vp-767 {
      width: 100%;
    }
  }

  .sign-up-form__wrapper--birth {
    @include vp-767 {
      width: 100%;
    }

    select:not(:last-child) {
      margin: 0 0 0 -4px;
    }
  }

  .sign-up-form__field--birth {
    .sign-up-form__field:last-child {
      margin-left: 2px;
    }

    .sign-up-form__field:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }

  .is-accepted {
    position: relative;

    &::before {
      content: "";
      width: 11px;
      height: 8px;
      background-image: url("../img/svg/accepted-icon.svg");
      background-repeat: no-repeat;
      z-index: 1;
      position: absolute;
      bottom: 27%;
      right: 0%;

      @include vp-767 {
        bottom: 45%;
      }
    }
  }

  input.is-wrong {
    border-color: $color-default-red;
    color: $color-default-red;
  }

  input.is-accept {
    border-color: $color-default-green;
    color: $color-default-black;
  }
}

.is-success {
  display: none;
}
