// Blue field with the title
.title-section {
  width: 138px;
  height: 100%;
  background-color: $color-neon-blue;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 22px 6px 22px 22px;

  @include vp-767 {
    width: 100%;
    height: auto;
    padding: 15px 22px 15px 22px;
    align-items: center;
  }
}

.title-section__title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: $color-default-white;
  font-weight: 400;
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  writing-mode: vertical-rl;
  transform: scale(-1);
  height: 380px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;

  @include vp-767 {
    height: auto;
    width: 100%;
    writing-mode: initial;
    transform: none;
    line-height: 63px;
  }
}
