.title-section {
  width: 138px;
  height: 100%;
  background-color: $color-neon-blue;
}

.title-section__title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: $color-default-white;
  font-weight: 400;
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  transform: rotate(270deg);
  word-break: keep-all;
}
