@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2"), url("../fonts/pt-sans-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans.woff2") format("woff2"), url("../fonts/work-sans.woff") format("woff");
  font-display: swap;
}
