// Colors
$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-default-green:               #47c11b;
$color-default-red:                 #f12424;
$color-default-gray:                #f2f2f2;
$color-background-gray:             #f4f5fc;
$color-neon-blue:                   #5a61ed;
